@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,700');

body{
  background: #F0FFF0;
  font-family: 'Oswald';
}

body *{
  color: #272727;
}

a{
  text-decoration: none;
  color: #272727;
}

#header_links li:nth-child(2) a{
  color: #ffaa00;
}

#Main{
  margin-top: 74px;
}

#Hello{
  height: 400px;
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-position: bottom
}

.used{
  color: #ffaa00;
}

h1{
  color: white;
  font-size: 82px;
  white-space: nowrap;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}

#Hello h2{
  font-size: 30px;
  color: #ffaa00;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
}

.Block_title{
  text-align: center;
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
  position: relative;
  padding: 35px 0;
}

.Block_title::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  width: 45px;
  height: 6px;
  background: #ffaa00;
  border-radius: 2px;
}

.cont{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#History{
  position: relative;
  height: 990px;
  top: -40px;
}
#line{
  position: absolute;
  left: 50%;
  top: 80px;
  width: 4px;
  height: 770px;
  background: #605f60;
  transform: translateX(-50%);
}

.dot{
  left: -10px;
  position: absolute;
  width: 18px;
  height: 18px;
  border: 3px solid #605f60;
  background: #F0FFF0;
  border-radius: 50%;
  transition: 0.3s ease-in-out all;
}

.dot-1{
  top: 0;
}

.dot-2{
  top: 150px;
}

.dot-3{
  top: 300px;
}

.dot-4{
  top: 450px;
}

.dot-5{
  top: 600px;
}

.dot-6{
  top: 750px;
}

.dot-7{
  bottom: 0px;
}

.apple{
  position: absolute;
}

.apple_phone{
  position: absolute;
}

.apple-1{
  top: 80px;
  left: 635px;
}

.apple-2, .apple-2-phone{
  top: 233px;
  right: 635px;
  text-align: right;
}

.apple-3{
  top: 383px;
  left: 635px;
}

.apple-4, .apple-4-phone{
  top: 533px;
  right: 635px;
  text-align: right;
}

.apple-5{
  top: 683px;
  left: 635px;
}

.apple-6, .apple-6-phone{
  top: 833px;
  right: 635px;
  text-align: right;
}

.apple-7{
  top: 990px;
  left: 635px;
}

.apple h2, .apple_phone h2{
  font-size: 18px;
  margin-bottom: 24px;
}

.apple img, .apple_phone img{
  width: 267px;
  height: 200px;
}

#about_text{
  margin: 30px 0;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
}

#About_icons{
  overflow: hidden;
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
}

.About_icon{
  margin: 30px;
  width: 160px;
  text-align: center;
  float: left;
}

.About_icon p{
  font-size: 52px;
  margin-bottom: 10px;
  color: #ffaa00;
}

.About_icon span{
  font-size: 22px;
}

.video {
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 1200px;
  height: 600px;
}

.country {
  width: 186px;
  height: 155px;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  overflow: hidden;
}

.country h2 {
  padding-top: 3px;
  font-size: 20px;
}

.country-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.country img {
  width: 100%;
  height: 126px;
  border-radius: 5px;
}