@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,700');

body {
  background: #f0fff0;
  font-family: 'Oswald', sans-serif;
}

body * {
  color: #272727;
}

a {
  text-decoration: none;
  color: #272727;
}

.cont {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#header_links li:nth-child(1) a {
  color: #ffaa00;
}

#Main {
  margin-top: 74px;
}

#Hello {
  height: 600px;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/mensshirt-4c4b9.appspot.com/o/main.jpg?alt=media&token=638e4fad-e44c-4703-a2a1-7c4112726070');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.used {
  color: #ffaa00;
}

h1 {
  color: white;
  font-size: 82px;
  white-space: nowrap;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
}

#Hello h2 {
  font-size: 30px;
  color: #ffaa00;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 250px;
  transform: translateX(-50%);
}

#Hello_icons {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.Hello_icon {
  margin: 0 30px;
  float: left;
}

.Hello_icon img {
  margin: 0 0 15px 50%;
  transform: translateX(-50%);
}

.Hello_icon p {
  font-size: 20px;
  color: white;
  text-align: center;
}

.Block_title {
  text-align: center;
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
  position: relative;
  padding: 35px 0;
}

.Block_title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  width: 45px;
  height: 6px;
  background: #ffaa00;
  border-radius: 2px;
}

#about_text {
  margin: 30px 0;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
}

#About_icons {
  overflow: hidden;
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
}

.About_icon {
  margin: 30px 30px;
  width: 160px;
  text-align: center;
  float: left;
}

.About_icon p {
  font-size: 52px;
  margin-bottom: 10px;
  color: #ffaa00;
}

.About_icon span {
  font-size: 22px;
}

#Zahvat_1 {
  background: url('https://firebasestorage.googleapis.com/v0/b/mensshirt-4c4b9.appspot.com/o/z-1.jpg?alt=media&token=49fe9aff-122b-46fb-8176-6c248932d647');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 310px;
}

.Zahvat_title {
  text-align: center;
  font-size: 42px;
  color: white;
  padding: 50px 0;
}

#Zahvat_form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  float: left;
}

#Zahvat_form input,
#Zahvat_form select {
  background: none;
  border: 1px solid white;
  outline: none;
  padding: 0 15px;
  width: 260px;
  height: 40px;
  color: white;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Oswald';
  float: left;
  margin-right: 15px;
}

#Zahvat_form select {
  height: 42px;
}

#Zahvat_button {
  cursor: pointer;
  background: none;
  border: 1px solid white;
  outline: none;
  padding: 11px 45px;
  color: white;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Oswald';
  float: left;
  margin-right: 15px;
  transition: 0.1s ease-in-out;
}

#Zahvat_button:hover {
  color: #ffaa00;
  border: 1px solid #ffaa00;
}

#Zahvat_conf {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  float: left;
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
  color: #a7a7a7;
  font-size: 14px;
}

#Zahvat_conf a {
  color: #a7a7a7;
}

#Sheme {
  min-height: 600px;
  background-size: cover;
  background-attachment: fixed;
  color: #272727;
}

#Sheme a {
  color: #272727;
}

#Sheme .Block_title {
  color: #272727;
}

#Sheme_icons {
  position: relative;
  left: 50%;
  margin-top: 100px;
  transform: translateX(-50%);
  float: left;
}

.Sheme_icon {
  margin: 0 30px;
  text-align: center;
  line-height: 30px;
  float: left;
}

.Sheme_icon p {
  font-size: 20px;
  color: #272727;
}

#Sheme_button {
  position: relative;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  font-size: 18px;
  float: left;
  margin: 20px 0;
  padding: 5px 16px;
  border: 1px solid #272727;
  color: #272727;
  border-radius: 2px;
  transition: 0.2s ease-in-out all;
}

#Sheme_button:hover {
  color: #ffaa00;
  border: 1px solid #ffaa00;
}

.text {
  font-size: 22px;
  line-height: 36px;
  font-weight: 300;
  text-align: justify;
  padding: 20px 0;
}

#History {
  position: relative;
  height: 990px;
  top: -40px;
}

#line {
  position: absolute;
  left: 50%;
  top: 80px;
  width: 4px;
  height: 770px;
  background: #605f60;
  transform: translateX(-50%);
}

.dot {
  left: -10px;
  position: absolute;
  width: 18px;
  height: 18px;
  border: 3px solid #605f60;
  background: #f0fff0;
  border-radius: 50%;
  transition: 0.3s ease-in-out all;
}

.dot-1 {
  top: 0;
}

.dot-2 {
  top: 150px;
}

.dot-3 {
  top: 300px;
}

.dot-4 {
  top: 450px;
}

.dot-5 {
  top: 600px;
}

.dot-6 {
  top: 750px;
}

.dot-7 {
  bottom: 0px;
}

.apple {
  position: absolute;
}

.apple_phone {
  position: absolute;
}

.apple-1 {
  top: 80px;
  left: 635px;
}

.apple-2,
.apple-2-phone {
  top: 233px;
  right: 635px;
  text-align: right;
}

.apple-3 {
  top: 383px;
  left: 635px;
}

.apple-4,
.apple-4-phone {
  top: 533px;
  right: 635px;
  text-align: right;
}

.apple-5 {
  top: 683px;
  left: 635px;
}

.apple-6,
.apple-6-phone {
  top: 833px;
  right: 635px;
  text-align: right;
}

.apple-7 {
  top: 990px;
  left: 635px;
}

.apple h2,
.apple_phone h2 {
  font-size: 18px;
  margin-bottom: 24px;
}

.apple img,
.apple_phone img {
  width: 267px;
  height: 200px;
}

.video {
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 1200px;
  height: 600px;
}

.country {
  width: 186px;
  height: 155px;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  overflow: hidden;
}

.country h2 {
  padding-top: 3px;
  font-size: 20px;
}

.country-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.country img {
  width: 100%;
  height: 126px;
  border-radius: 5px;
}
